<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-alipay"
        version="0.10.0">

  <name>AlipayPlugin</name>
  <license>MIT license</license>
  <description>支付宝支付插件，alipay payment</description>
  <keywords>alipay, payment</keywords>
  <repo>https://github.com/gusumuzhe/cordova-plugin-alipay</repo>
  <issue>https://github.com/gusumuzhe/cordova-plugin-alipay/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/alipay.js" name="alipay">
    <clobbers target="Alipay" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AliPay">
        <param name="android-package" value="gusu.muzhe.plugin.alipay.AliPayPlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <!-- alipay sdk begin -->
      <activity android:name="com.alipay.sdk.app.H5PayActivity"
        android:configChanges="orientation|keyboardHidden|navigation"
        android:exported="false" android:screenOrientation="behind"
        android:windowSoftInputMode="adjustResize|stateHidden">
      </activity>
      <!-- alipay sdk end -->
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/libs/alipaySDK-20150724.jar" target-dir="libs"/>
    <source-file src="src/android/AliPayPlugin.java" target-dir="src/gusu/muzhe/plugin/alipay"/>
    <source-file src="src/android/PayResult.java" target-dir="src/gusu/muzhe/plugin/alipay"/>
  </platform>
</plugin>
